include Lya_zelda_II/DATA/List_of_DATA_files
include Lya_zelda_II/DATA/nn_*1.sav
include Lya_zelda_II/DATA/List_of_DATA_files_II
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/data_PCA_Nbins_600_Dmin_-12.0_Dmax_12.0_Dcore_True_Ntrain_50000.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f10A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f1A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f2A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f3A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f4A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f5A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f6A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f7A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f8A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f9A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_fB5A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_fR5A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_logE_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_logN_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_logV_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_logW_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_logt_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/nn_OUTFLOW_Npca_100_N_1500000_103_90_80_70_60_50_40_30_20_prop_Dl_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/nn_OUTFLOW_Npca_100_N_1500000_109_53_25_prop_KS_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/data_Uncertainty_corrections_FACTOR_COMPUTATION_Dl.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/data_Uncertainty_corrections_FACTOR_COMPUTATION_f1A.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/data_Uncertainty_corrections_FACTOR_COMPUTATION_f2A.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/data_Uncertainty_corrections_FACTOR_COMPUTATION_f4A.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/data_Uncertainty_corrections_FACTOR_COMPUTATION_logE.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/data_Uncertainty_corrections_FACTOR_COMPUTATION_logN.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/data_Uncertainty_corrections_FACTOR_COMPUTATION_logV.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/data_Uncertainty_corrections_FACTOR_COMPUTATION_logW.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM+z/data_Uncertainty_corrections_FACTOR_COMPUTATION_logt.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/data_PCA_Nbins_600_Dmin_-12.0_Dmax_12.0_Dcore_True_Ntrain_50000.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f10A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f1A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f2A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f3A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f4A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f5A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f6A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f7A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f8A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f9A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_fB5A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_fR5A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_logE_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_logN_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_logV_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_logW_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_logt_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/nn_OUTFLOW_Npca_100_N_1500000_103_90_80_70_60_50_40_30_20_prop_Dl_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/nn_OUTFLOW_Npca_100_N_1500000_109_53_25_prop_KS_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/data_Uncertainty_corrections_FACTOR_COMPUTATION_Dl.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/data_Uncertainty_corrections_FACTOR_COMPUTATION_f1A.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/data_Uncertainty_corrections_FACTOR_COMPUTATION_f2A.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/data_Uncertainty_corrections_FACTOR_COMPUTATION_f4A.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/data_Uncertainty_corrections_FACTOR_COMPUTATION_logE.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/data_Uncertainty_corrections_FACTOR_COMPUTATION_logN.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/data_Uncertainty_corrections_FACTOR_COMPUTATION_logV.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/data_Uncertainty_corrections_FACTOR_COMPUTATION_logW.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_IGM-z/data_Uncertainty_corrections_FACTOR_COMPUTATION_logt.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/data_PCA_Nbins_600_Dmin_-12.0_Dmax_12.0_Dcore_True_Ntrain_50000.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f10A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f1A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f2A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f3A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f4A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f5A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f6A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f7A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f8A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_f9A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_fB5A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_fR5A_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_logE_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_logN_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_logV_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_logW_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/nn_OUTFLOW_Npca_100_N_1500000_103_53_25_prop_logt_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/nn_OUTFLOW_Npca_100_N_1500000_103_90_80_70_60_50_40_30_20_prop_Dl_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/nn_OUTFLOW_Npca_100_N_1500000_109_53_25_prop_KS_it_0.sav
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/data_Uncertainty_corrections_FACTOR_COMPUTATION_Dl.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/data_Uncertainty_corrections_FACTOR_COMPUTATION_f1A.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/data_Uncertainty_corrections_FACTOR_COMPUTATION_f2A.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/data_Uncertainty_corrections_FACTOR_COMPUTATION_f4A.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/data_Uncertainty_corrections_FACTOR_COMPUTATION_logE.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/data_Uncertainty_corrections_FACTOR_COMPUTATION_logN.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/data_Uncertainty_corrections_FACTOR_COMPUTATION_logV.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/data_Uncertainty_corrections_FACTOR_COMPUTATION_logW.npy
include Lya_zelda_II/DATA/MODELS_ZELDA_II/MODELS_NoIGM/data_Uncertainty_corrections_FACTOR_COMPUTATION_logt.npy
